{% extends 'basic.html' %}

{% block title %} Blog-Post{% endblock title %}
{% block blogactive %} active {% endblock blogactive %}
{% block body %}
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro maiores distinctio libero voluptatum doloribus exercitationem veniam nobis perferendis, voluptates ipsa nemo voluptatibus quidem, numquam quasi sequi nisi amet soluta excepturi, molestiae recusandae non! Minima nostrum, explicabo tempore error minus animi excepturi laboriosam labore deserunt praesentium, ipsam aut quas tempora consectetur!</p>
{% endblock body %}